    <footer class="site-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Explore</h3>
            <ul class="list-unstyled">
              <li><a href="{% url 'jobapp:job-list' %}">Browse Jobs</a></li>
              <li><a href="{% url 'jobapp:search_result' %}">Search Jobs</a></li>
              <li><a href="{% url 'account:employee-registration' %}">Create Candidate Account</a></li>
              <li><a href="{% url 'account:employer-registration' %}">Create Employer Account</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Company</h3>
            <ul class="list-unstyled">
              <li><a href="{% url 'jobapp:home' %}">Home</a></li>
              <li><a href="{% url 'jobapp:job-list' %}">Job Listings</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'jobapp:dashboard' %}">Dashboard</a></li>
              {% else %}
              <li><a href="{% url 'account:login' %}">Login</a></li>
              {% endif %}
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Support</h3>
            <ul class="list-unstyled">
              <li><span>Support</span></li>
              <li><span>Privacy</span></li>
              <li><span>Terms of Service</span></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Contact Us</h3>
            <div class="footer-social">
              <span class="icon-facebook"></span>
              <span class="icon-twitter"></span>
              <span class="icon-instagram"></span>
              <span class="icon-linkedin"></span>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; <a>JOB PORTAL</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>
          </div>
        </div>
      </div>
    </footer>
  
  </div>
