<div class="site-wrap">

  <!-- NAVBAR -->
  <header class="site-navbar mt-3">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-xl navbar-dark px-0">
        <div class="site-logo">
          <a class="navbar-brand" href="{% url 'jobapp:home' %}">JOB PORTAL</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
          aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
          <ul class="navbar-nav ml-auto site-menu">
            <li class="nav-item"><a href="{% url 'jobapp:home' %}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{% url 'jobapp:job-list' %}" class="nav-link">Job Listings</a></li>
          </ul>

          <ul class="navbar-nav align-items-xl-center site-menu">
            {% if user.is_authenticated and user.role == 'employer' %}
            <li class="nav-item mr-xl-3">
              <a href="{% url 'jobapp:create-job' %}" class="btn btn-outline-white border-width-2">
                <span class="mr-2 icon-add"></span>Publish Job
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="employerDashboardMenu" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="employerDashboardMenu">
                <a class="dropdown-item" href="{% url 'jobapp:dashboard' %}">Dashboard</a>
                <a class="dropdown-item" href="{% url 'jobapp:employer-applicants' %}">Applicants</a>
                <a class="dropdown-item" href="{% url 'account:employer-profile' request.user.id %}">View Company Profile</a>
                <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
              </div>
            </li>
            {% elif user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="profileMenu" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Profile</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileMenu">
                <a class="dropdown-item" href="{% url 'account:candidate-profile' request.user.id %}">View My Profile</a>
                <a class="dropdown-item" href="{% url 'account:edit-profile' request.user.id %}">Edit Settings</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="employeeDashboardMenu" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="employeeDashboardMenu">
                <a class="dropdown-item" href="{% url 'jobapp:dashboard' %}">Dashboard</a>
                <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item dropdown mr-xl-3">
              <a class="nav-link dropdown-toggle" href="#" id="registerMenu" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Register</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="registerMenu">
                <a class="dropdown-item" href="{% url 'account:employer-registration' %}">Employer</a>
                <a class="dropdown-item" href="{% url 'account:employee-registration' %}">Employee</a>
              </div>
            </li>
            <li class="nav-item">
              <a href="{% url 'account:login' %}" class="btn btn-primary border-width-2 ov-fix">
                <span class="mr-2 icon-lock_outline"></span>Log In
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </header>
